<div class="jumbotron ng-scope">
    <div class="container">
        <h2>Welcome to <strong>Smart</strong>Shelf </h2>
        <p style="color: #666666"> Smart shelf is used to track the usage of the household items like and and predict when you need to make an order , you will also be able to check it with Amazon echo and make your orders</p>

        <div style="float: left; width: fit-content;margin-right: 4px;">
         <autocomplete ng-model="placename" data="places" on-select="selectplace" attr-placeholder="Find your cafeteria" attr-input-class="nowidth"></autocomplete>
        </div>
        
        <div style="padding: 3px;">
            
            <button type="submit" class="btn btn-primary" ng-click="createAccount()">Create an account</button></li>
            
        </div>
        <!--<input type="text"  ng-autocomplete ng-model="autocomplete" options="options" details="details"/>-->


    </div>
</div>